# Disallow all
/*

# Allow these
!toonhud/
!uavxp_config
!zzz_toonhud_chat/
!zzz_votehud_custom_font/
!README.md
!mastercomfig-disable-pyroland-addon.vpk
!toonhud_votehud.bat

# Exceptions
*sound.cache
